{% extends "base.html" %}
{% block content %}

<h2>{{ title }}</h2>

<form method="post" style="max-width:500px;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"
            style="padding:8px 14px; background:#156966; color:white; border:none; border-radius:4px;">
        Save
    </button>
    <a href="{% url 'expenses_list' %}"
       style="padding:8px 14px; background:#ccc; color:black; border-radius:4px; text-decoration:none; margin-left:10px;">
       Cancel
    </a>
</form>

{% endblock %}